* {
  margin: 20px;
  padding: 0px;
}

#MidF {
  display: block;
  width: 384px;
  margin: 30px auto;
}

p {
  display: block;
  width: 300px;
  margin: 50px auto;
  font: 30pxMonaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
