* {
  margin:20px;
  padding:0px;
}

#MidF {
  display: block;
  width: 200px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30pxMonaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
