* {
  margin:20px;
  padding:0px;
}

#MidF {
  display: block;
  width:250px;
  height: 350px
  margin: 30px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
